<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <title>Isaiah Bullard</title>
    <style>
        body {
            position: relative;
        }
        #Overview {
            padding-top:50px;
        }
        #Skills {
            padding-top:50px;
        }
        #Work {
            padding-top:50px;
        }
        #Projects {
            padding-top:50px;
        }
    </style>

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Isaiah Bullard</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#Overview">Overview</a></li>
                <li><a href="#Skills">Skills & Interests</a></li>
                <li><a href="#Work">Work Experience</a></li>
                <li><a href="#Projects">Projects</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://www.linkedin.com/in/isaiah-bullard-97b881170" target="_blank">LinkedIn</a></li>
            </ul>
        </div>
    </nav>
    <div id="Overview">
        <h1 align="center">Isaiah Bullard</h1>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
        <p>Words</p>
    </div>
    <div id="Skills">
        <h2>Skill & Interests</h2>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
        <p>Things</p>
    </div>
    <div id="Work">
        <h2>Work Experience</h2>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
    </div>
    <div id="Projects">
        <h2>Personal Projects</h2>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
    </div>
</body>
</html>