<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script>
        function pageLoaded() {
            var t = document.querySelectorAll(".content");
            var i = 0;

            while(i < t.length){
                t.item(i).style.opacity = 1;
                i++;
            }
        }
        window.onload = pageLoaded;
    </script>

    <title>Isaiah Bullard</title>
    <style>
        body {
            position: relative;
            background-color:black;
        }
        .resume{
            padding:50px;
        }
        .content{
            opacity:0;
            transition:1500ms;
        }
        .navbar-inverse{
            background-color:darkblue;
        }
        .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
            background-color: #404040;
        }
        #Overview {
            background:url("../media/Pat.png") no-repeat center top fixed;
            background-size: cover;
            color:white;
        }
        #Skills {
            background:url("../media/Zae_and_Neil.png") no-repeat center top fixed;
            background-size: cover;
            color:black;
        }
        #Work {
            background:url("../media/Suit.png") no-repeat center top fixed;
            background-size: cover;
            color:white;
        }
        #Projects {
            background-color:lightgrey;
            color:black;
        }
    </style>

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Isaiah Bullard</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#Overview">Overview</a></li>
            <li><a href="#Skills">Skills & Interests</a></li>
            <li><a href="#Work">Work Experience</a></li>
            <li><a href="#Projects">Projects</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.linkedin.com/in/isaiah-bullard-97b881170" target="_blank">LinkedIn</a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid resume" id="Overview">
    <div id="Header" class="row">
        <div class="col-sm-6" style="padding-top:50px;padding-right:75px;padding-bottom:25px">
            <h1 class="content" align="right">Isaiah Bullard</h1>
            <h2 class="content" align="right">3<sup><u>rd</u></sup> year Computer Science Student</h2>
        </div>
        <div class="col-sm-6" style="padding-left:75px;padding-top:25px;padding-bottom:25px">
            <img class="content" src="../media/Headshot.JPG" alt="Isaiah's Headshot" width="200" height="200"/>
        </div>
    </div>
    <div class="container-fluid" style="background:rgba(105, 105, 105, 0.5); padding:10px">
        <p class="content" align="center">A third-year student at Baylor
            University, experienced with multiple
            object-oriented programming
            languages dealing with certain
            techniques such as polymorphism,
            memory allocation, database design
            and application, and software analysis
            and design. Interested in an internship
            or employment that will allow me to
            utilize these skills and expand my
            knowledge in software engineering
            and computer science.
        </p>
    </div>
    <div class="row">
        <div class="col-sm-6" align="right" style="background:rgba(64,64,64,0.7)">
            <h3 class="content"><u>Personal Information:</u></h3>
            <p class="content">Permanent Address: 502 Bellaire Oaks Drive, Pflugerville, TX, 78660<br/>
                Current Address: 805 S 8<sup>th</sup> Street Apt. 108, Waco, TX, 76706<br/>
                Phone Number: (512) 241-9507<br/>
                Email Address: <a href="mailto:isaiah0812@yahoo.com" style="color:white">isaiah0812@yahoo.com</a></p>
        </div>
        <div class="col-sm-6" style="background:rgba(80,80,80,0.7)">
            <h3 class="content"><u>Education</u></h3>
            <p class="content"><b>Baylor University</b><br/>
                Waco, TX<br/>
                Bachelor of Sciences in Computer Science<br/>
                <i><strong>Expected Graduation May 2020</strong></i></p>
        </div>
    </div>
</div>
<div class="container-fluid resume" id="Skills">
    <div style="background-color:rgba(255, 255, 255, 0.65); padding:20px">
        <h1 class="content" align="center">Skill & Interests</h1>
        <div class="row">
            <div class="col-sm-3">
                <h4 class="content"><u>Programming Experience</u></h4>
                <p class="content"><strong>500+ Lines:</strong><br/>
                    <img src="../media/cpp_logo.png" width="44" height="50" alt="C++ Logo"/>
                    <img src="../media/java_logo.png" width="50" height="50" alt="Java Logo"/>
                    <img src="../media/c_logo.png" width="50" height="50" alt="C Logo"/>
                    <img src="../media/html_logo.png" width="50" height="50" alt="HTML Logo"/>
                    <img src="../media/css_logo.png" width="35" height="50" alt="CSS_Logo"/>
                </p>
                <p class="content"><strong>Less than 500 Lines</strong>
                <ul class="content">
                    <li>JavaScript</li>
                    <li>Linux/Unix (Bash Scripting)</li>
                    <li>Python</li>
                    <li>SQL</li>
                    <li>PHP</li>
                    <li>LaTex</li>
                    <li>C#</li>
                    <li>Bootstrap</li>
                    <li>React.js</li>
                    <li>Elasticsearch</li>
                    <li>Assembly</li>
                </ul>
                </p>
            </div>
            <div class="col-sm-3">
                <h4 class="content"><u>Tools</u></h4>
                <div class="content">
                    <strong>IDEs and Interfaces</strong>
                    <ul id="IDE_List" title="IDEs and Interfaces">
                        <li>Eclipse</li>
                        <li>Microsoft Visual Studio</li>
                        <li>JetBrains CLion</li>
                        <li>JetBrains IntelliJ</li>
                        <li>JetBrains PyCharm</li>
                        <li>MySQL Workbench</li>
                    </ul>
                </div>
                <div class="content">
                    <strong>Frameworks</strong>
                    <ul id="Framework_List" title="Frameworks">
                        <li>Git</li>
                        <li>Maven</li>
                        <li>Gradle</li>
                        <li>Spring</li>
                    </ul>
                </div>
                <div class="content">
                    <strong>Other</strong>
                    <ul id="Other_List" title="Other">
                        <li>JUnit Testing</li>
                        <li>Javadoc</li>
                        <li>Enterprise Architect</li>
                        <li>Visual Paradigm</li>
                        <li>Oracle Virtual Box</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <h4 class="content"><u>Other Skills</u></h4>
                <div class="content">
                    <ul id="Skills_LIst">
                        <li>Attention to Detail</li>
                        <li>Problem Solving</li>
                        <li>Research</li>
                        <li>Gathering Information</li>
                        <li>Customer Service</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <h4 class="content"><u>Interests & Activities</u></h4>
                <div class="content">
                    <ul id="Interest_List">
                        <li>Database Management</li>
                        <li>Software Design</li>
                        <li>National Society of Black Engineers</li>
                        <li>MISTER</li>
                        <li>Baseball</li>
                        <li>Music Production</li>
                        <li>Travel</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid resume" id="Work">
    <h1 class="content" align="center">Work Experience</h1>
    <table class="table table-striped" style="background-color:rgba(80,80,80,0.5);">
        <thead class="content">
        <tr>
            <th>Position</th>
            <th>Employer</th>
            <th>Start Date(Month/Year)</th>
            <th>End Date(Month/Year)</th>
            <th>Responsibilities</th>
        </tr>
        </thead>
        <tbody class="content">
        <tr>
            <td><i>Enrollment Agent</i></td>
            <td><i>IDEMIA</i></td>
            <td><i>03/2019</i></td>
            <td><i>Present</i></td>
            <td>
                <ul>
                    <li><i>Accurately Processed fingerprints and photos</i></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Cashier</td>
            <td>Wal-Mart</td>
            <td>09/2018</td>
            <td>12/2018</td>
            <td>
                <ul>
                    <li>Accurately processed customer sales</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Set-Up Crew</td>
            <td>Baylor Symphony Orchestra</td>
            <td>08/2017</td>
            <td>12/2017</td>
            <td>
                <ul>
                    <li>Set up orchestra seating</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Party Specialist</td>
            <td>Mt. Playmore</td>
            <td>05/2017</td>
            <td>08/2018</td>
            <td>
                <ul>
                    <li>Booked birthday parties</li>
                    <li>Managed customer concerns</li>
                    <li>Served as a resource for party hosts</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Stockroom Associate</td>
            <td>Ross Dress for Less</td>
            <td>05/2017</td>
            <td>08/2017</td>
            <td>
                <ul>
                    <li>Received and processed inventory</li>
                    <li>Stocked sales floor</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Front Gate</td>
            <td>Hawaiian Falls</td>
            <td>06/2015</td>
            <td>07/2015</td>
            <td>
                <ul>
                    <li>Scanned tickets</li>
                    <li>Checked coolers</li>
                    <li>Customer service</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container-fluid resume" id="Projects">
    <h1 class="content" align="center">Projects and Other Interests</h1>

</div>
</body>
</html>