<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <title>Isaiah Bullard</title>
    <style>
        body {
            position: relative;
        }
        .resume{
            padding:50px;
        }
        .navbar-inverse{
            background-color:darkgreen;
        }
        #Overview {
            background-color:dimgrey;
            color:white;
        }
        #Skills {
            background-color:grey;
            color:white;
        }
        #Work {
            background-color:darkgrey;
            color:white;
        }
        #Projects {
            background-color:lightgrey;
            color:black;
        }
    </style>

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Isaiah Bullard</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#Overview">Overview</a></li>
                <li><a href="#Skills">Skills & Interests</a></li>
                <li><a href="#Work">Work Experience</a></li>
                <li><a href="#Projects">Projects</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://www.linkedin.com/in/isaiah-bullard-97b881170" target="_blank">LinkedIn</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid resume" id="Overview">
        <h1 align="center">Isaiah Bullard</h1>
        <h3 align="center">3<sup>rd</sup> year Computer Science Student</h3>
        <p align="center">A third-year student at Baylor
            University, experienced with multiple
            object-oriented programming
            languages dealing with certain
            techniques such as polymorphism,
            memory allocation, database design
            and application, and software analysis
            and design. Interested in an internship
            or employment that will allow me to
            utilize these skills and expand my
            knowledge in software engineering
            and computer science.
        </p>
        <div class="row">
            <div class="col-sm-6" align="right">
                <h4><u>Personal Information:</u></h4>
                <p>Permanent Address: 502 Bellaire Oaks Drive, Pflugerville, TX, 78660<br/>
                Current Address: 805 S 8<sup>th</sup> Street Apt. 108, Waco, TX, 76706<br/>
                Phone Number: (512) 241-9507<br/>
                Email Address: <a href="mailto:isaiah0812@yahoo.com">isaiah0812@yahoo.com</a></p>
            </div>
            <div class="col-sm-6">
                <h4><u>Education</u></h4>
                <p><b>Baylor University</b><br/>
                Waco, TX<br/>
                Bachelor of Sciences in Computer Science<br/>
                <i>Expected Graduation May 2020</i></p>
            </div>
        </div>
    </div>
    <div class="container-fluid resume" id="Skills">
        <h2>Skill & Interests</h2>
        <div class="row">
            <div class="col-sm-3">
                Hello
            </div>
            <div class="col-sm-3">
                Bonjour
            </div>
            <div class="col-sm-3">
                Hola
            </div>
            <div class="col-sm-3">
                Goodbye.
            </div>
        </div>
    </div>
    <div class="container-fluid resume" id="Work">
        <h2>Work Experience</h2>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
        <p>Coding</p>
    </div>
    <div class="container-fluid resume" id="Projects">
        <h2>Personal Projects</h2>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
        <p>EXCITEMENT</p>
    </div>
</body>
</html>